{% extends 'base.html.twig' %}

{% block body %}

    <h1>Liste des groupes</h1>
    <hr>

    <a href="{{ path('create_group') }}" class="btn btn-success">Créer un groupe</a>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for group in groups %}
                <tr>
                    <td>{{ group.name }}</td>
                    <td>
                        <a href="{{ path('edit_group', {id: group.id}) }}" class="btn btn-sm btn-primary">Modifier</a>
                        <form method="post" action="{{ path('delete_group', {id: group.id}) }}" style="display:inline-block;">
                            <button class="btn btn-sm btn-danger">Supprimer</button>
                        </form>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">Aucun groupe trouvé.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
